# Deployment
DEPLOY_TO=docker # Options: docker, vercel
# BLOB_READ_WRITE_TOKEN= # Required if DEPLOY_TO=vercel

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
SMTP_FROM="SiReS Bibliotecas UA <your-email@gmail.com"

# Admin Config
ADMIN_EMAIL=