# Supabase Configuration
VITE_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
VITE_SUPABASE_ANON_KEY=

# App Configuration
VITE_TIME_ZONE=Europe/Lisbon
VITE_OPERATING_HOURS='{"17":{"mon":"09:00-20:00","tue":"09:00-20:00","wed":"09:00-20:00","thu":"09:00-20:00","fri":"09:00-20:00","sat":"13:00-20:00","sun":"13:00-20:00"}}'
VITE_MAX_BOOKING_DURATION_MINS=240

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
SMTP_FROM="SiReS Bibliotecas UA <your-email@gmail.com"

# Admin Config
ADMIN_EMAIL=